{% extends 'base.html' %}
{% load static %}
{% load sidebar %}
{% block title %} {{ title }} :: {{ block.super }}{% endblock %}
{% block content %}
        <section class="single-blog-area">
            <div class="container">
                <div class="row">
                   <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{{post.title}}</h2>
                                <div>
                                    {% if post.photo %}
                                    <img src="{{ post.photo.url }}" alt="{{post.title}}" width="300">
                                    {% else %}
                                     <img src="https://picsum.photos/seed/picsum/300/201" alt="{{post.title}}"
                                          width="300">
                                    {% endif %}
                                     <br>
                                    <br>
                                    <span> Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category}}</a></span>
                                    {% if post.tag.exists %}
                                    <br>
                                    <span>  Tags:
                                            {% for t in post.tag.all %}
                                                <a href="{{ t.get_absolute_url }}">{{ t.title }}</a>
                                            {% endfor %}
                                    </span>
                                    {% endif %}
                                    <br>
                                    Views: {{ post.views }}
                                </div>
                                <div class="for-style">
                                    {{ post.content|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="newsletter">
                            <h2 class="sidebar-title">Поиск записей</h2>
                            <form action="{% url 'search' %}" method="get">
                                <input type="text" name="s" placeholder="Поиск...">
                                <input type="submit" value="Найти">
                            </form>
                        </div>
                            {% get_popular_post %}
                            {% get_tags %}
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
